#author{
    color: #000000;
    font-weight: bold;
}

#logan{
    color: #000000;
    font-weight: bold;
    margin:25 0 0 10;
}

#jumboTitle{
    color: #000fff;
}

.myClass {
    background-color: #058BF7;
}