<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFL Schedules2</title>

    <link rel="stylesheet" href="js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/angular-material.min.css" class="stylesheet">
    <link rel="stylesheet" href="css/home.css">

    <script src="js/jquery/jquery-3.1.0.min.js"></script>
    <script src="js/jquery/jquery.stickytableheaders.min.js"></script>
    <script src="js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="js/angular-1.5.8/angular.js"></script>
    <script src="js/angular-material/angular-animate.min.js"></script>
    <script src="js/angular-material/angular-aria.min.js"></script>
    <script src="js/angular-material/angular-messages.min.js"></script>
    <script src="js/angular-1.5.8/angular-route.js"></script>

    <script src="js/angular-material/angular-material.min.js"></script>

    <script src="js/app.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/teamTableController.js"></script>
    <script src="controllers/rosterController.js"></script>
    <script src="controllers/searchController.js"></script>
    <script src="services/mainService.js"></script>

</head>

<body ng-app="nflApp">

    <div ng-controller="HomeController">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NFL Application</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Home</a></li>
                        <!--<li><a href="#/">Rosters</a></li>-->
                        <li><a href="#/search">Search</a></li>
                    </ul>
                    <div class="navbar-right">
                        <form class="navbar-form navbar-right" style="margin-right: 5px;">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="teamFilter" ng-show="location === '/'" placeholder="Filter Teams" />
                            </div>
                            <!--<button type="submit" class="btn btn-success">Filter</button>-->
                        </form>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="jumbotron" id="jumboTitle">

                <div class="row">
                    <div class="col-md-3">
                        <img src="data/images/team_logos/nfl_emblem.png" alt="NFL Logo" style="width:200px;height:250px;">
                    </div>
                    <div class="col-md-6">
                        <h1 text-align="center">NFL Schedules</h1>
                        <hr/>
                        <p>Developer: {{myName}}</p>
                        <!--<div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <input class="form-control" type="text" ng-model="teamFilter" placeholder="Filter Teams" />
                            </div>
                        </div>-->
                    </div>
                    <div class="col-md-3">
                        <img src="data/images/team_logos/nfl_emblem.png" alt="NFL Logo" style="width:200px;height:250px;">
                    </div>
                    <!--<div class="row">
                    <div class="col-md-12">
                        <md-button class="md-raised" href="#/search">Player Search</md-button>
                        <md-button class="md-raised" href="#/">Home</md-button>
                    </div>
                </div>-->
                </div>

            </div>
        </div>
    </div>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div ng-view></div>

</body>

</html>