<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFL Schedules</title>

    <script src="js/jquery/jquery-3.1.0.min.js"></script>
    <script src="js/angular-1.5.8/angular.js"></script>
    <script src="js/angular-1.5.8/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="controllers/homeController.js"></script>

    <link rel="stylesheet" href="js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">

</head>

<body ng-app="nflApp">

    <div class="jumbotron" ng-controller="HomeController" id="jumboTitle">
        <h1>NFL Schedules</h1>
        <hr class="m-y-2"/>
        <p>Developer: {{myName}}</p>
        <input type="text" ng-model="myName"/>
    </div>

    <div class="container">
        <div ng-controller="HomeController">
            <table class="table">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Division</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in teams" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                        <td>{{team.name}}</td>
                        <td>{{team.division}}</td>
                    </tr>
                </tbody>
            </table>
            <P>SelectedRow: {{selectedRow}}</P>
        </div>
    </div>

</body>
</html>