<div class="container">

    <div class="row">
        <div class="col-md-7">

            <table class="table">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Division</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in teams | filter:filterValue" ng-class="{'bg-primary':team === selectedRow}" ng-click="setClickedRow(team)">
                        <td>{{team.name}}</td>
                        <td>{{team.division}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12" align="center">
                    <h1>{{selectedRow.name}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" align="center">
                    <img src={{selectedRow.imagePath}} alt={{selectedRow.name}} style="width:300px;height:300px">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" align="center">
                    <a class="btn btn-primary" href="#/roster">Roster</a>
                </div>
            </div>
        </div>
    </div>
</div>